*{
	margin: 0;
	padding: 0;
	font-family: Baskerville old face;
	box-sizing: border-box;
}

body{
	background-image: url(../imagenes/azul.jpg);
	background-repeat: no-repeat;
	background-size: 2000px 1000px;
	display: flex;
	min-height: 100vh;
}

.container{
	margin: auto;
    width: 30%;
    max-height: 700px;
    background: #F3F3F3;
    padding: 30px;
    border:  1px solid rgba(0,0,0,0.2);
    background: #E2F1FE;
	background-repeat: no-repeat;
	background-size: 800px 300px;
}

#container{
	width: 450px;
}

.form-signin-heading{
	color: #84CBFF;
	text-align: center;
	font-size: 50px;
	margin-bottom: 20px;
}

input{
	width: 100%;
	padding: 10px;
	display: block;
	font-size: 20px;
}

button{
	width: 100%;
	padding: 10px;
	display: block;
	margin: 20px 0;
	font-size: 20px;
	opacity: 0.8;
	cursor: pointer;
}

.btn-btn-large{
	font-size: 20px;
}

p{
	text-align: center;
	font-size: 18px;
}